# PostgreSQL Configuration
POSTGRES_USER=admin
POSTGRES_PASSWORD=change_me
POSTGRES_DB=neuralmedic
POSTGRES_PORT=5432

# Redis Configuration
REDIS_HOST=neuralmedic_redis
REDIS_PORT=6379
DB_PASS=${POSTGRES_PASSWORD}
GROQ_API_KEY=your_groq_api_key_here
